@import "colors.css";

* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: @on_primary_container;
}

window#waybar {
    background-color: @background;
}
