@import "colors.css";

/*GENERAL*/
* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: @on_primary_container;
}

window#waybar {
    background-color: @background;
    border: none;
    border-radius: 12px;
    opacity: 0.85;
}

/*RIGHT MODULES*/
.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

/*PADDING*/
#temperature {
    padding: 0 0px;
    padding-left: 0px;
}

#memory {
    padding: 0 0px;
    padding-left: 0px;
    padding-right: 8px;
}

#network {
    padding: 0px;
    padding-left: 0px;
    padding-right: 8px;
}

#pulseaudio {
    padding: 0 5px;
    padding-left: 5px;
    padding-right: 0px;
}

#battery {
    padding: 0 5px;
    padding-left: 5px;
    padding-right: 7px;
}

#clock {
    padding: 0 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#custom-power {
    padding: 0 0px;
    padding-left: 0px;
    padding-right: 0px;
}
