@import "colors.css";

* {
    font-family: "LiterationMono Nerd Font";
    border: none;
    border-radius: 11px;
}

window#waybar {
    background-color: @inverse_primary;
    border-bottom: 0px solid #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.modules-left {
    margin: 8px 0px 8px 10px;
}

.modules-right {
    margin: 8px 10px 8px 0px;
}

.modules-center {
    margin: 5px 0px 8px 0px;
}

#workspaces button.active {
    background-color: #000;
    border-radius: 30px;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}
